# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
bin/

.DS_Store
*.xcuserstate


tst/sc/test/
tst/sc3d/src_vhp/*.vtk

out/tmp/*
out/src_vhp/*.vtk
